@use '../shared.scss';

.page {
    @media (min-width: 40.0rem) {
        width: 50%;
        min-width: 600px;
        max-width: 800px;
        margin: auto;
    }
}

body {
    background-color: shared.$background-color;
    color: shared.$text-color;
}

a:focus,
a:hover {
    color: shared.$light-accent-color;
}

a,
.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
    color: shared.$accent-color;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: shared.$base-color;
    border-color: shared.$base-color;
}